<div class="card">
  <div class="card-header">
    <div class="card-header-title">
      Registrar compra de produtos
    </div>
  </div>
  <div class="card-content">
    <form action="{% url 'restaurant:purchases_create' %}" method="post">
      {% csrf_token %}
      <div class="columns">
        <div class="column">
          <label for="product" class="label">Produto</label>
          <div class="select">
            <select name="product" id="product">
              {% for product in products %}
                <option value="{{ product }}">{{ product }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="column">
          <label for="quantity" class="label">Quantidade</label>
          <input type="text" name="quantity" class="input">
        </div>
        <div class="column">
          <label for="cost" class="label">Custo por produto</label>
          <input type="text" name="cost" class="input">
        </div>
      </div>
  
      <button type="submit" class="button is-primary">Salvar</button>
    </form>
  </div>
</div>