<div class="container-fluid mt-5">
    <h1>CRUD Function based views</h1>

    <div class="card my-4">
        <div class="card-body">
            <table id="dtMaterialDesignExample" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Idade</th>
                        <th>Cargo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bruno Roberto Pianca</td>
                        <td>bruno@email.com</td>
                        <td>25</td>
                        <td>Programador back-end Python</td>
                    </tr>
                    <tr>
                        <td>Lucas Oliveira</td>
                        <td>lucas@email.com</td>
                        <td>19</td>
                        <td>Programador front-end</td>
                    </tr>
                    <tr>
                        <td>Ariadne Fernanda</td>
                        <td>ariadne@email.com</td>
                        <td>23</td>
                        <td>Analista devops</td>
                    </tr>
                    <tr>
                        <td>Bruno Roberto Pianca</td>
                        <td>bruno@email.com</td>
                        <td>25</td>
                        <td>Programador back-end Python</td>
                    </tr>
                    <tr>
                        <td>Lucas Oliveira</td>
                        <td>lucas@email.com</td>
                        <td>19</td>
                        <td>Programador front-end</td>
                    </tr>
                    <tr>
                        <td>Ariadne Fernanda</td>
                        <td>ariadne@email.com</td>
                        <td>23</td>
                        <td>Analista devops</td>
                    </tr>
                    <tr>
                        <td>Bruno Roberto Pianca</td>
                        <td>bruno@email.com</td>
                        <td>25</td>
                        <td>Programador back-end Python</td>
                    </tr>
                    <tr>
                        <td>Lucas Oliveira</td>
                        <td>lucas@email.com</td>
                        <td>19</td>
                        <td>Programador front-end</td>
                    </tr>
                    <tr>
                        <td>Ariadne Fernanda</td>
                        <td>ariadne@email.com</td>
                        <td>23</td>
                        <td>Analista devops</td>
                    </tr>
                    <tr>
                        <td>Bruno Roberto Pianca</td>
                        <td>bruno@email.com</td>
                        <td>25</td>
                        <td>Programador back-end Python</td>
                    </tr>
                    <tr>
                        <td>Lucas Oliveira</td>
                        <td>lucas@email.com</td>
                        <td>19</td>
                        <td>Programador front-end</td>
                    </tr>
                    <tr>
                        <td>Ariadne Fernanda</td>
                        <td>ariadne@email.com</td>
                        <td>23</td>
                        <td>Analista devops</td>
                    </tr>
                    <tr>
                        <td>Bruno Roberto Pianca</td>
                        <td>bruno@email.com</td>
                        <td>25</td>
                        <td>Programador back-end Python</td>
                    </tr>
                    <tr>
                        <td>Lucas Oliveira</td>
                        <td>lucas@email.com</td>
                        <td>19</td>
                        <td>Programador front-end</td>
                    </tr>
                    <tr>
                        <td>Ariadne Fernanda</td>
                        <td>ariadne@email.com</td>
                        <td>23</td>
                        <td>Analista devops</td>
                    </tr>
                    <tr>
                        <td>Bruno Roberto Pianca</td>
                        <td>bruno@email.com</td>
                        <td>25</td>
                        <td>Programador back-end Python</td>
                    </tr>
                    <tr>
                        <td>Lucas Oliveira</td>
                        <td>lucas@email.com</td>
                        <td>19</td>
                        <td>Programador front-end</td>
                    </tr>
                    <tr>
                        <td>Ariadne Fernanda</td>
                        <td>ariadne@email.com</td>
                        <td>23</td>
                        <td>Analista devops</td>
                    </tr>
                    <tr>
                        <td>Bruno Roberto Pianca</td>
                        <td>bruno@email.com</td>
                        <td>25</td>
                        <td>Programador back-end Python</td>
                    </tr>
                    <tr>
                        <td>Lucas Oliveira</td>
                        <td>lucas@email.com</td>
                        <td>19</td>
                        <td>Programador front-end</td>
                    </tr>
                    <tr>
                        <td>Ariadne Fernanda</td>
                        <td>ariadne@email.com</td>
                        <td>23</td>
                        <td>Analista devops</td>
                    </tr>
                    <tr>
                        <td>Bruno Roberto Pianca</td>
                        <td>bruno@email.com</td>
                        <td>25</td>
                        <td>Programador back-end Python</td>
                    </tr>
                    <tr>
                        <td>Lucas Oliveira</td>
                        <td>lucas@email.com</td>
                        <td>19</td>
                        <td>Programador front-end</td>
                    </tr>
                    <tr>
                        <td>Ariadne Fernanda</td>
                        <td>ariadne@email.com</td>
                        <td>23</td>
                        <td>Analista devops</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>