<div class="container-fluid">
    <h1 class="my-4 dark-grey-text font-weight-bold">CRUD Function based views</h1>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead class="mdb-color darken-4">
                    <tr class="text-white">
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Pyxel Developers</td>
                        <td>developer@pyxel.dev.br</td>
                        <td>(XX) XXXXX-XXXX</td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">Pyxel Developers</td>
                        <td>developer@pyxel.dev.br</td>
                        <td>(XX) XXXXX-XXXX</td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">Pyxel Developers</td>
                        <td>developer@pyxel.dev.br</td>
                        <td>(XX) XXXXX-XXXX</td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>