{% extends 'base.html' %}
{% block title %}Books with VueJS{% endblock title %}
{% block content %}

<!-- Apresenta uma variável no front -->
<div id="app">
  [[ message ]]
</div>

<!-- bind apresenta uma pequena mensagem/pop-up -->
<div id="app-2">
  <div v-bind:title="message">
    Passe o mouse sobre mim
  </div>
</div>

<!-- Como usar if -->
<div id="app-3">
  <p v-if="seen">Agora você me viu</p>
</div>

<!-- Como usar for -->
<div id="app-4">
  <h3 class="subtitle mt-3">Lista de tarefas</h3>
  <ol>
    <li v-for="todo in todos">
      - [[ todo.text ]]
    </li>
  </ol>
</div>

<script>
  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app',
    data: {
      message: 'Olá vue'
    }
  });

  var app2 = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app-2',
    data: {
      message: 'Você carregou esta página em ' + new Date().toLocaleString()
    }
  });

  var app3 = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app-3',
    data: {
      seen: true
    }
  });

  var app4 = new Vue({
    delimiters: ["[[", "]]"],
    el: '#app-4',
    data: {
      todos: [
        { text: 'Aprender JavaScript' },
        { text: 'Aprender Vue' },
        { text: 'Criar algo incrível' }
      ]
    }
  });
</script>

{% endblock content %}