{% extends 'base.html' %}
{% block title %}Lista de usuários{% endblock title %}
{% block content %}

  {% include 'partials/navbar.html' %}

  <div class="container is-max-widescreen mt-5">
    <h1 class="title">Lista de usuários</h1>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Nome de usuário</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}