{% extends 'base.html' %}
{% block title %}Perfil{% endblock title %}

{% block content %}

    {% include 'partials/navbar.html' %}

    <div class="container is-max-widescreen mt-5">
        {% include 'partials/message.html' %}

        <div class="card m-auto mt-5">
            <div class="card-header">
                <div class="card-header-title">
                    <span class="pt-2">Dados do usuário</span>
                    <a href="#" class="button is-success mt-3 ml-auto is-small">Editar</a>
                </div>
            </div>
            <div class="card-content">
                <h5>Nome de usuário:</h5>
                <p>{{ request.user }}</p>
                <h5>E-mail do usuário:</h5>
                <p>{{ request.user.email }}</p>
            </div>
        </div>
    </div>

{% endblock content %}