{% extends 'base.html' %}
{% block title %}Registro{% endblock title %}
{% block content %}

    <div class="card form-user">
        <div class="card-header">
            <div class="card-header-title">
                Criar conta
            </div>
        </div>
        <div class="card-content">
            <form action="{% url 'user:signup' %}" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="email" class="label mb-2">E-mail:</label>
                    <div class="col-sm-8">
                        <input type="email" class="input" id="email" name="email" required>
                    </div>

                    <label for="username" class="label mb-2">Usuário:</label>
                    <div class="col-sm-8">
                        <input type="text" class="input" id="username" name="username" required>
                    </div>

                    <label for="password" class="label mb-2">Senha:</label>
                    <div class="col-sm-8">
                        <input type="password" class="input" id="password" name="password" required>
                    </div>

                    <label for="password2" class="label mb-2">Repita a senha:</label>
                    <div class="col-sm-8">
                        <input type="password" class="input" id="password2" name="password2" required>
                    </div>
                </div>

                {% include 'partials/message.html' %}

                <button type="submit" class="button is-primary">Cadastrar-se</button>
                <a class="ml-3" href="{% url 'user:login_view' %}">Já tenho uma conta</a>
            </form>
        </div>
    </div>

{% endblock content %}