{% extends 'base.html' %}
{% block title %}Livros{% endblock title %}
{% block content %}

  {% include 'partials/navbar.html' %}

  <div class="container is-max-widescreen mt-5">
    <div class="card">
      <div class="card-content">
        <h1 class="title is-4">Tem certeza que deseja deletar o livro {{ book.title }}?</h1>
        <h2 class="subtitle">Essa ação não pode ser revertida!</h2>
        <div class="is-flex">
          <a href="{% url 'books_index' %}" class="button is-success mr-2">Cancelar</a>
          <form action="{% url 'books_delete' book.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button is-danger">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}