<table class="table table-bordered table-striped table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>iPhone</td>
            <td>Celular de grande marca</td>
            <td>R$ ??,??</td>
            <td>5</td>
            <td>
                <button type="submit" class="btn btn-dark btn-sm">Remover</button>
            </td>
        </tr>
    </tbody>
</table>