<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Gênero</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>R$ {{ book.price|floatformat:2 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>