<table>
  <thead>
      <tr>
          <th>Produto</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Estoque</th>
          <th>Opções</th>
      </tr>
  </thead>
  <tbody>
      {% for product in products %}
          <tr>
              <td>
                <a href="{% url 'products:detail' product.pk %}">{{ product.name }}</a>
              </td>
              <td>{{ product.description }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.quantity }}</td>
              <td>
                <form action="{% url 'products:delete' product.pk %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Deletar</button>
                </form>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>