<form action="{% url 'crud:books_update' book.pk %}" method="post">
  {% csrf_token %}
  <label for="title" class="label">Titulo</label>
  <input type="text" name="title" class="input" value="{{ book.title }}">

  <div class="columns">
    <div class="column">
      <label for="author" class="label">Autor</label>
      <input type="text" name="author" class="input" value="{{ book.author }}">
    </div>
    <div class="column">
      <label for="pages" class="label">Número de páginas</label>
      <input type="text" name="pages" class="input" value="{{ book.pages }}">
    </div>
  </div>

  <button type="submit" class="button is-success">Salvar alterações</button>
</form>