{% extends 'base.html' %}
{% block title %}Foscatur - Registro{% endblock title %}
{% block content %}

    <div class="card form-user">
        <div class="card-header">
            <h1>Foscatur - Criar conta</h1>
        </div>
        <div class="card-body">
            <form action="{% url 'user:signup' %}" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="email" class="col-sm-4 col-form-label mb-2">E-mail:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <label for="username" class="col-sm-4 col-form-label mb-2">Usuário:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>

                    <label for="password" class="col-sm-4 col-form-label mb-2">Senha:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <label for="password2" class="col-sm-4 col-form-label mb-2">Repita a senha:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password2" name="password2" required>
                    </div>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}

                <button type="submit" class="btn btn-primary">Cadastrar-se</button>
                <a class="ms-3" href="{% url 'user:login_view' %}">Já tenho uma conta</a>
            </form>
        </div>
    </div>

{% endblock content %}