<h3 class="my-4">Lista de produtos</h3>

{% include 'partials/message.html' %}

<table id="productTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Categoria</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</a></td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    {% if product.category %}
                        {{ product.category }}
                    {% else %}
                        Sem categoria
                    {% endif %}
                </td>
                <td class="d-flex justify-content-around">
                    <form id="deleteForm" action="{% url 'restaurant:products_delete' product.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                    </form>
                    <a href="{% url 'restaurant:products_detail' product.pk %}" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>