<div class="card">
  <div class="card-content">
    <p class="title is-5">Edite seu livro</p>
    <form action="{{ book.get_absolute_url }}" method="post">
      {% csrf_token %}
      <div class="columns">
        <div class="column">
          <label for="title" class="label">Título</label>
          <input type="text" name="title" class="input" value="{{ book.title }}" required>
        </div>
        <div class="column">
          <label for="author" class="label">Autor do livro</label>
          <input type="text" name="author" class="input" value="{{ book.author }}" required>
        </div>
        <div class="column">
          <label for="pages" class="label">Número de páginas</label>
          <input type="number" name="pages" class="input" value="{{ book.author }}" required>
        </div>
      </div>
      <button type="submit" class="button is-success">Salvar</button>
    </form>
  </div>
</div>