<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Título</th>
      <th>Número de páginas</th>
      <th>Author</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.author }}</td>
        <td class="is-flex">
          <a href="#" class="button is-warning is-small mr-2">Editar</a>
          <a href="#" class="button is-danger is-small">Deletar</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>