<div class="card">
  <div class="card-header">
    Finalizar pedido
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <th>Produto</th>
        <th>Valor</th>
        <th>Ações</th>
      </thead>
      <tbody>
        {% for item in cart %}
          <tr>
            <td>{{ item.product }}</td>
            <td>{{ item.product.price }}</td>
            <td><a href="{% url 'restaurant:remove_from_cart' item.pk %}" class="btn btn-danger btn-sm">Remover</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    <h5>Valor: {{ total }}</h5>
    <form action="{% url 'restaurant:finish_order' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Finalizar</button>
    </form>
  </div>
</div>