<table class="table">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }}</td>
        <td>
          <a href="{% url 'restaurant:add_to_cart' product.pk %}" class="btn btn-success btn-sm">Adicionar</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>